<header>
    <nav class="header-nav">
        <a href="/" class="header-title">mangaWeb</a>
        <ul>
            <li><a href="/mangas">All Mangas</a></li>
            <li><a href="/mangas/add">Add Manga</a></li>
            <li><a href="/mangas/addTemplate">Add Data</a></li>
            <li><a href="/mangas/removeAllData">Remove All Data</a></li>
        </ul>
    </nav>
</header>