<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    
    <% include ('../../helpers/functions.ejs') %>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <div class="inner-container">
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        </div>
    </div>
</body>
</html>