<% if(locals.mangaSearch != null) { %>
    <div class="search-container">
        <div class="search-input-container">
            <input type="text" class="search-input">
            <button class="search-button"></button>
        </div>
            <div class="search-result-container">
                <div class="search-result">
                    <img class="search-result-image" src="/images/robo.png" alt="">
                    <h2 class="search-result-title">EAE</h2>
                </div>
                <div class="search-result">
                    <img class="search-result-image" src="/images/robo.png" alt="">
                    <h2 class="search-result-title">EAE</h2>
                </div>
            </div>
    </div>
<% } %>