     <form action="/mangas" method="GET">
        <div class="search-container">
            <div class="search-input-container">
                <input autocomplete='off' type="text" id="search-input" name="q">
                <button class="search-button" type="button"></button>
            </div>
                <div class="search-result-container">
                    
                </div>
        </div>    
    </form>
    
    