<% if(locals.mangaSearch != null) { %>
    <div class="search-container">
        <div class="search-input-container">
            <input autocomplete='off' type="text" id="search-input">
            <button class="search-button"></button>
        </div>
            <div class="search-result-container">
                
            </div>
    </div>
<% } %>