<form action="/mangas/<%= manga.id%>" method="POST" onsubmit="validateSize(event)" enctype="multipart/form-data">
    <div>
        <label for="title">Chapter Title(Optional)</label>
        <input type="text" name="title" id="title" value="" >
    </div>
    <div id="upload-container">
        <div class="upload-file">
            <input type="file" class="images" name="images" value=""  required>
            <button type="button" onclick="deletePageField(event)">Remove Page</button>
        </div>
    </div>
    <div>
        <button type="button" onclick="addPageField()">Add New Page</button>
    </div>
    <button type="submit">Submit</button>
</form>
<script src="/scripts/manga/manga.js"></script>