<form action="/mangas" method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">Manga Title</label>
        <input type="text" name="title" id="title" required>
    </div>
    <div>
        <textarea type="text" name="desc" id="desc">Description</textarea>
    </div>
    <div>
        <label for="images">Upload Image</label>
        <input type="file" id="images" name="images" value="" required>
    </div>
    <button type="submit">Submit</button>
</form>
</div>
