<div>
    <% mangas.forEach(manga => { %>
        <a href="/mangas/<%= manga._id%>"><img class="imgBIG" src="data:image/<%=manga.cover.contentType%>;base64,
            <%=manga.cover.data.toString('base64')%>"></a> 
     <%})%>
</div>
<div>
    <h2><a href="/mangas/add">Add Manga</a></h2>
</div>
