<%- include('./_manga_list.ejs',{mangas, large: false}) %>

<div class="load-more-container">
    <button onclick="loadMore()" id="load-more-btn">Load More Mangas</button>
</div>
<script src="/scripts/manga/manga.js"></script>