.load-more-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}


#load-more-btn{
    width: 50%;
    height: 4rem;
    background-color: var(--color-background-light);
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: 'Gotham Rounded';
    font-size: 2rem;
    color: var(--color-text-light);
}

#load-more-btn:hover{
    background-color: var(--color-background-dark)
}


.disabled{
    opacity: 0.5;
}