:root{
    --nav-title-font-size: 6rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

.header-title{
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-header{
    font-size: 4rem;
    font-weight: 500;
}

.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
}

.header-nav li a{
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 2rem;
    font-size: 2rem;
}

.header-nav li a:hover, .header-title:hover{
    color: white;
}

.search-container{
    z-index: 999;
    margin-bottom: 5rem;
    position: relative;
}

.search-input-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-result-container{
    display: none;
}

.search-result-container.active{
    width: 45rem;
    height: auto;
    background-color: var(--color-background-dark);
    display: flex;
    flex-direction: column;   
    position: absolute;
    right: 5rem;
}

.search-result{
    display: flex;
    justify-content: flex-start;
}




.search-button{
    width: 5rem;
    height: 5rem;
    background: url('../../images/search-icon.png');
    background-position: center;
    background-size: contain;
    cursor: pointer; 
    border: 0;
    outline: 0;
}

#search-input{
    display: none;
}

#search-input.active{
    display: inline-block;
    width: 45rem;
    height: 3.5rem;
    border-radius: 22.5rem;
    outline: 0;
    border: 0;
}



.search-result-image img{
    width: 15rem;
}

.search-result-info{
    display: flex;
    flex-direction: column;
}

.search-result-info h2{
    font-size: 2.4rem;
    padding: 1rem;
}

.search-result-info p{
    font-size: 2rem;
    margin: 0;
    padding: 0 1rem;
    word-break: break-all;
}