:root{
    --manga-cover-width: 200px;
    --manga-cover-width-large: 250px;
    --manga-cover-aspect-ratio: 0.75;
    --manga-page-width: 500px;
    --manga-info-title-weight: bold;
}
/*
.manga-info-image{
    overflow: hidden;
}
*/
.manga-cover{
    width: var(--manga-cover-width);
    height: calc(var(--manga-cover-width) / var(--manga-cover-aspect-ratio));
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.manga-cover:hover{
    transform: scale(1.2);
}

.manga-cover-large{
    --manga-cover-width: var(--manga-cover-width-large);
}

.manga-grid{
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--manga-cover-width));
}

.manga-grid-large{
    grid-template-columns: repeat(auto-fill, var(--manga-cover-width-large));
}
  
.manga-info-title a{
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--manga-info-title-weight);
    word-break: break-all;
}

.manga-info-title a:hover{
    color: white;
}

.manga-page{
    width: var(--manga-page-width);
    display: block;
    margin-left: auto;
    margin-right: auto;
}