:root{
    --container-width: 1450px;
    --inner-container-width: 1400px;
    --color-base-hue: 200;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue),100%,18%);
    --color-background-light: hsl(var(--color-base-hue),100%,25%);
    --color-text-light: hsl(var(--color-base-hue),100%,87%)
}